body {
  background-color: pink;
}

body {
 font-size: 150%
}

a {
color: saddlebrown;
}

body {
 color: saddlebrown;
}

body {
 font-family: lobster;
}

   a:hover { 
    text-decoration: underline;
   }